.list-unstyled {
    display: flex;
}

/* }
.score-align{
    display: flex;
}
*/

.d-flex {
    display: flex;
    /* style="align-items: center;justify-content: space-between;" */
}

.mb-0 {
    margin-left: 30px;
    display: inline-block;
}

.mb-1 {
    margin-left: 111px;
    display: inline-block;
}